.box{
    border-radius: 20px;
    height: 70%;
    background-color: white;
}
.services .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
gap:0.5rem;
}
.services .box-container .box{
    text-align: center;
    padding:2rem;
    border-width: 100px;
}
.services .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:rgb(20, 19, 19));
    background: red;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.services .box-container .box h3{
    color:black;
    font-size: 3rem;
}
.services .box-container .box p{
    color:black;
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 1.8;
}
.services .box-container .box:hover{
    background: black;
}
.services .box-container .box:hover h3{
    color:white;
}
.services .box-container .box:hover p{
    color:white;
}
h1{
    color: red;
    margin-left: 35%;
    font-size: 500%;
}